  *{
    margin: 0;
    padding: 0;
    box-sizing:border-box
  }
  .top-bar{
    width: 100%;
    height:70px;
    padding: 0px 50px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
   .furniture{
     color: #054c73;
     font-size: 25px;
   }
.nav-menu {
    display: flex;
    list-style: none;
}
.nav-items a{
    text-decoration: none;
     margin-left: 40px;
    color: black;
    font-size:medium;
    align-self: center;
    
}
.nav-items a:hover{
    text-decoration: underline;
    color: blue;
    transition: 0.5s;
    }
    /* welcome-page */
    .welcome-page{
     position: relative;
     width: 100%;
     display: flex;
     justify-content: end;
     
    
}
    
.image-1{
width: 100%;
height: 450px;
}
    
    .welcome-page-text{
      background-color: #dfe9f4;
      justify-self: end;
      width: 300px;
      position: absolute;
      margin:50px;
      padding: 20px;
      border-radius: 10px;
    }

.w-text{
  margin-bottom: 10px;
}
.w-text2{
  color:#054c73;
  font-size:35px;
  }
  .btn1{
    padding: 15px;
    height: 25px;
    width: 160px;
   padding-bottom: 30px;
    color:#dfe9f4;
    background-color:#054c73;
    border-radius: 40px;
    margin-top: 30px;

  }
  .btn1:hover{
    background-color: skyblue;
    color:black;
    transition: o.5s;
  }
  /* section2 */
  .service{
    display: flex;
    width:100%;
    padding :20px 50px;
    gap: 30px;
    justify-content: space-between;
    background-color: #f2f5ff;
  }
  .serve{
    display: flex;
    font-size: 10px;
    gap: 10px;

  }
  .img2{
    height: 30px;
  
  }
  /* section3 */
.summarise{
  padding: 18px;
   text-align: center;
   line-height: 40px;
    }
    


  .inspiration img{
    margin-right:30px ;
  
    }
    .inspiration1{
      width: 100%;
      padding:  30px 40px;
      display: flex;
      justify-content: center;
    }
      
      
  
  .i-image1{  
    width:200px;
    height: 300px;
   border-top-left-radius: 40px;
  
}
.i-image2{
  width:200px;
  height: 300px;
}
.i-image3-4 {
   position: relative;
   }
.i-image3{
  width:200px;
  height: 300px;
  border-bottom-right-radius: 40px;
  

}
.img-child{
  position: absolute;
  top:2px;
  right:40%;
  height: 100px;
  
  }
  /* section4 */
  .section4{
    width: 100%;
    background-color: #f2f5ff;
    padding: 50px;
    line-height: 25px;
    display: flex;
    align-items: center;
    
    
  }
 .section4 .img-top{
position: relative;
width: 100%;

}  
.green{
  position: absolute;
  top: 30%;
  left:84%;
width:100px;
  


}
#italiano{
  position: relative;
  z-index:1
}
.text-background p{
  font-size: small;
  margin-top:10px;
  
  margin-right: 100px;
}
.btn2{
  padding: 15px;
  margin-top: 30px;
  background-color: #054c73;
  color: #dfe9f4;
  border-radius: 40px;
  width: 120px;
}
.img-top .beauty{
  width:100%;
  height: 400px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  z-index: 0;

}
/* section5 */
.browse{
  text-align: center;
  padding: 30px;
 line-height: 30px; 
}
.browse-section{
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}
.browse-section img{
  width:95%;
  
}
.browse-section h2{
  font-size: small;
  text-align: center;
  
  
}
/* section6 */
.The-way{
  width: 100%;
  padding: 20px;
  text-align: center;
  line-height: 30px;
}
.section-theway{
  width: 100%;
  display: flex;
  padding: 10px;
  margin-bottom: 57px;


}
.section-theway img{
  width: 90%;
  height: 400px;
  border-radius: 20px;
  
}
.btn-tw{
  padding:  10px;
  background-color: #111111;
  color:#dfe9f4;
  
  
  border-radius:40px;
  position: absolute;
   top:94%;
  left: 35%;
  
  
  
  
}
.section-theway .text-tw{
  padding: 0px 50px;
  margin-top:20px;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: small;
}
.holder1{
position:relative;
}

.holder2{
position:relative;

}
.holder3{
position: relative;
}
/* footer-section */
.footer1{
  background-color: #f2f5ff;
  width: 100%;
  padding: 40px;
  text-align: center;
  
}
.footer1 .ft-1{
  line-height: 30px;
  margin-bottom: 20px;
}
.footer1 .ft-1 h2{
  margin-bottom: 20px;
  
}
.footer1  .text{
  padding: 15px;
  width:300px;
  text-align: start;

}
.footer1 .submit{
  padding: 15px;
  background-color: #054c73;
  color:#dfe9f4;
  width: 100px;
}
.footer1 .submit:hover{
  background-color: skyblue;
  color: black;
  transition:0.5s
}
.footer2{
  width: 100%;
  display:flex;
  padding: 40px;
  background-color: #03344f;
  color:#dfe9f4;
}
.footer2 .leftside{
  width:40%;
}
.footer2 .leftside-text{
  line-height: 30px;
}
.footer2 p{
  font-size: small;
  margin-top: 40px ;
  margin-bottom: 25px;
}



.footer2 .rightside{
  width:60%;
  
}
.footer2 .insta{
  font-size: x-large;
  margin-bottom: 10px;
}
.footer2 .rightside-img{
  display: flex;
}
.footer2 img{
  width:80%;
  height: 200px;
}
/* media-query */
 
  

@media screen and (max-width:768px) {
  .top-bar{
    width: 100%;
      height:60px;
      padding:0px 20px;
      
       align-items: center;
      justify-content: space-between;
      
  }
  .welcome-page-text{
    background-color: #dfe9f4;
    position: absolute;
    top:0;
    width: 50%;
    margin:2px 0px;
    padding: 20px; 
    border-radius: 10px;
  }
  .nav-items a{
margin-left: 20px;
    }
    .section4{
      width: 100%;
      background-color: #f2f5ff;
      justify-content: center;
      flex-direction: column-reverse;
    }
    
    .text-background {
      font-size: small;
      margin-top:50px;
      text-align: center;
    }

    .text-background p {
      font-size: small;
      margin-right:0px;
      text-align: center;
    }
    .browse-section{
     width: 100%;
    flex-direction: column;
     padding:10px;
    margin:0px auto;
    align-items:center;
      
  }
  .browse-section img{
    width:500px;
    padding:0px 50px;
    
  }
  .browse-section h2{
    font-size: large;
    margin-top: 0px;
    margin: 20px;
    text-align: center;
    
    
  }
  .section-theway{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-bottom: 57px;
  }
  .section-theway .text-tw{
    padding: 20px 0px;
    margin-top:20px;

    line-height: 30px;
    letter-spacing: 1px;
    font-size: small;
}
.inspiration1{
  width: 100%;
  padding:  30px 40px;
flex-direction: column;
  align-items: center;

}
.i-image1{  
  width:400px;
  height: 450px;
  margin-bottom: 50px;
 

}
.i-image2{
width:400px;
height: 450px;
margin-bottom: 50px;
}

.i-image3{
width:400px;
height: 450px;
margin-bottom: 50px;
}
}